@import '@/components/navigation/navigation.module.scss';
@import '@/components/project/project.module.scss';
.task__title{
    padding-top: 0;
}
.task:hover .menu{
display: block
}
.task__user-avatar{
    width: 24px;
    height: 24px;
}
.task__description-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.status{
    background-color: $color-bronze;
    color: $color-white;
    line-height: $regular-line-height;
    padding: 0 8px;
    border-radius: 4px;
}