// @import '@/components/navigation/style.scss'; 
body{
    height: 100vh;
}
#app{
    height: 100%
}
.container {
    // padding-top: $gap;
    height: calc(100% - 42px);
}

.page {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 100%;
} 
