@import '@/components/elements/variables.scss';
.main-container {
    padding: 0 24px;
}

.item {
    border-bottom: 1px solid black;
    display: flex;
}

.item:hover .menu {
    display: block;
}

.menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 42px;
    height: 42px;
    background-color: $color-white;
    align-self: center;
//    display:none;
    cursor: pointer;
    position: relative;

    &_clicked{
        background-color: $color-secondary-active;
        border: 1px solid $color-menu-border;
    }
    
}

.menu-image{
width: 16px;
height: 16px;
display:block;
}
.content {
    padding: 0 16px 8px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    @include font-regular;
    width: 100%;
}

.title {
    line-height: $regular-line-height;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: normal
}
.description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height:$regular-line-height;
}

.number {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: $regular-line-height;
}

.creator {
    color: $text-color-disabled;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.description-creation {
    display: flex;
    gap: 16px;
    max-width: 70%;
}

.description-changes {
    max-width: 30%;
    color: $text-color-disabled;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: $regular-line-height;
}
