@import '@/components/elements/variables.scss';
@import '@/components/projects/ProjectItem/style.scss';
$color-bronze: #9E6955;
.task__title{
    padding-top: 0;
}
.task:hover .menu{
display: block
}
.task__user-avatar{
    width: 24px;
    height: 24px;
}
.task__description-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.status{
    background-color: $color-bronze;
    font-size: 14px;
    color: $color-white;
    line-height: $regular-line-height;
    padding: 0 8px;
    border-radius: 4px;
}
.dropdown-container{
    position: relative;
    margin:auto
}
.dropdown__link_delete{
    color: red
}